@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,300;1,700;1,900&display=swap');
body {
    margin: 0;
    font-family: lato, sans-serif;
}

.header {
    background: #222222;
    height: 74px;  
    padding: 18px 16px;
    box-sizing: border-box;/*чтобы пайденги были вжаты внутрь */
}

@media (min-width: 1600px) {
    .container{
        margin: 0 auto;
        width: 1140px;
    }
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (min-width: 768px) {
   .header{
        padding-left: 32px;
        padding-right:32px;
    }    
}

.userIcon,
.cartIconWrap {
    display: none;
}

@media (min-width: 768px) {
    .userIcon,
    .cartIconWrap {
        display: inline;
    }
}

.userIcon {
    margin-left: 25px;
    margin-right: 42px;
}

.searchIcon {
    margin-left: 41px;
}

.cartIconWrap {
    position: relative;
}

.cartIconWrap span {
    display: inline-block;
    width:19px;
    height: 19px;
    color: wheat;
    background: #F16D7F;
    border-radius: 50%;
    position: absolute;
    text-align: center;
    right: -8px;
    top: -19px;
    
    font-size: 12px;
    line-height: 19px;
}

.brandWrap {
    min-height: 363px;
}

@media (min-width: 768px) {
    .brandWrap {
        display: flex;
    }

    .brandWrap > div {
        width: 50%;;
    }
}

.brandLeft {
    display: none;
}

@media (min-width: 768px) {
    .brandLeft {
        display: block;  
    }
}

.brandLeft img {
    display: block;
    width: 100%;
}

.brandRight {
    background: #F1E4E6;
    min-height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #222222;
}

@media (min-width: 1600px) {
    .brandRight {
        justify-content: flex-start;
    }
}

.brandPromoWrap {
    border-left: 12px solid #F16D7F;
    padding-left: 15px;
    height: 61px;
}

@media (min-width: 768px) {
    .brandPromoWrap {
        height: 78px;
    }
}

@media (min-width: 768px) {
    .brandPromoWrap {
        margin-left: 64px;
    }
}

.brandPromoWrap div:first-child {   
    font-weight: 900;
    font-size: 38px;
    line-height: 27px;      
}

@media (min-width: 768px) {
    .brandPromoWrap div:first-child {
        font-size: 44px;
        line-height: 33px;
    }
}

@media (min-width: 1600px) {
    .brandPromoWrap div:first-child {
        font-size: 48px;
    }
}

.brandPromoWrap div:last-child {   
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    margin-top: 14px;
}

@media (min-width: 768px) {
    .brandPromoWrap div:last-child {
        margin-top: 25px;
    }
}

@media (min-width: 1600px) {
    .brandPromoWrap div:last-child {
        margin-top: 21px;
        font-size: 32px;
    }
}

.brandPromoWrap span {
    color: #F16D7F;
}

.offers {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 247px) 111px;
    row-gap: 32px;
    padding: 64px 16px;
}



@media (min-width: 768px) {
    .offers {
        display: grid;
        grid-template-columns:repeat(3, 1fr);
        grid-template-rows: 167px 116px;
        gap: 20px;
    }

    .offerAccesories {
        grid-column: 1/-1;
    }
    
}

@media (min-width: 1600px) {
    .offers {     
        grid-template-rows: 260px 180px;
    }
}

.offers > div {
    position: relative;
}

.offers img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;
}

.offerTitle {  
   position: relative;
   z-index: 1;
   color: white;
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   font-size: 16px;
}

.offerTitleBottom {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;
}

/* start featured */

.featured {
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 96px;
}

@media (min-width: 768px) {
    .featured {
        padding-left: 16px;
        padding-right: 16px;
    }
}

@media (min-width: 768px) {
    .featured {
        padding-left: 0;
        padding-right: 0;
    }
}

.featured h2 {
    margin-top: 0;
    margin-bottom: 3px;
    text-align: center;
    color: #222222;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
}

.featuredTitle {
    text-align: center;
    color: #9F9F9F;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 64px;
}

.featuredItems {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 16px;
}

@media (min-width: 768px) {
    .featuredItems {
        grid-template-columns: 1fr 1fr;
        row-gap: 18px;
        column-gap: 16px;
    }
}

@media (min-width: 1600px) {
    .featuredItems {
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }
}

.featuredItem {
    background: #F8F8F8;
}

.featuredItem img {
    width: 100%;
    display: block;
}

.featuredImgWrap {
    position: relative;
}

.featuredItem:hover .featuredImgDark {
    display: flex;
}

.featuredImgDark {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(58, 56, 56, 0.86);
    display: none;
    justify-content: center;
    align-items: center;
}

.featuredImgWrap button {
    background: none;
    border: 1px solid white;
    color: white;
    display: flex;
    align-items: center;
    padding: 10px 13px;
    font-size: 14px;
}

.featuredImgWrap button img {
    width: 26px;
    height: 24px;
    margin-right: 11px;
}

.featuredData {
    padding: 23px 16px 20px;
}

.featuredName {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
}

.featuredText {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    margin-top: 12px;
    margin-bottom: 18px;
}

.featuredPrice {
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
}

.featuredBrowseBtn {
    border: 1px solid #FF6A6A;
    margin-top: 41px;
    padding: 15px 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: none;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
}

@media (min-width: 768px) {
    .featuredBrowseBtn {
        margin-top: 33px;
    }
}

@media (min-width: 768px) {
    .featuredBrowseBtn {
        margin-top: 33px;
    }
}

@media (min-width: 1600px) {
    .featuredBrowseBtn {
        margin-top: 48px;
    }
}

.featuredBrowseBtn:hover {
    color: white;
    background: #F16D7F;
}
/* end featured */