@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,300;1,700;1,900&display=swap");
body {
    margin: 0;
    font-family: lato, sans-serif;
}

.header {
    background: #222222;
    height: 74px;
    padding: 18px 16px;
    box-sizing: border-box; /*чтобы пайденги были вжаты внутрь */
}

@media (min-width: 1600px) {
    .container {
        margin: 0 auto;
        width: 1140px;
    }
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (min-width: 768px) {
    .header {
        padding-left: 32px;
        padding-right: 32px;
    }
}

.userIcon,
.cartIconWrap {
    display: none;
}

@media (min-width: 768px) {
    .userIcon,
    .cartIconWrap {
        display: inline;
    }
}

.userIcon {
    margin-left: 25px;
    margin-right: 42px;
}

.searchIcon {
    margin-left: 41px;
}

.cartIconWrap {
    position: relative;
}

.cartIconWrap span {
    display: inline-block;
    width: 19px;
    height: 19px;
    color: wheat;
    background: #f16d7f;
    border-radius: 50%;
    position: absolute;
    text-align: center;
    right: -8px;
    top: -19px;

    font-size: 12px;
    line-height: 19px;
}

.brandWrap {
    min-height: 363px;
}

@media (min-width: 768px) {
    .brandWrap {
        display: flex;
    }

    .brandWrap > div {
        width: 50%;
    }
}

.brandLeft {
    display: none;
}

@media (min-width: 768px) {
    .brandLeft {
        display: block;
    }
}

.brandLeft img {
    display: block;
    width: 100%;
}

.brandRight {
    background: #f1e4e6;
    min-height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #222222;
}

@media (min-width: 1600px) {
    .brandRight {
        justify-content: flex-start;
    }
}

.brandPromoWrap {
    border-left: 12px solid #f16d7f;
    padding-left: 15px;
    height: 61px;
}

@media (min-width: 768px) {
    .brandPromoWrap {
        height: 78px;
    }
}

@media (min-width: 768px) {
    .brandPromoWrap {
        margin-left: 64px;
    }
}

.brandPromoWrap div:first-child {
    font-weight: 900;
    font-size: 38px;
    line-height: 27px;
}

@media (min-width: 768px) {
    .brandPromoWrap div:first-child {
        font-size: 44px;
        line-height: 33px;
    }
}

@media (min-width: 1600px) {
    .brandPromoWrap div:first-child {
        font-size: 48px;
    }
}

.brandPromoWrap div:last-child {
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    margin-top: 14px;
}

@media (min-width: 768px) {
    .brandPromoWrap div:last-child {
        margin-top: 25px;
    }
}

@media (min-width: 1600px) {
    .brandPromoWrap div:last-child {
        margin-top: 21px;
        font-size: 32px;
    }
}

.brandPromoWrap span {
    color: #f16d7f;
}

.offers {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 247px) 111px;
    row-gap: 32px;
    padding: 64px 16px;
}

@media (min-width: 768px) {
    .offers {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 167px 116px;
        gap: 20px;
    }

    .offerAccesories {
        grid-column: 1/-1;
    }
}

@media (min-width: 1600px) {
    .offers {
        grid-template-rows: 260px 180px;
    }
}

.offers > div {
    position: relative;
}

.offers img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;
}

.offerTitle {
    position: relative;
    z-index: 1;
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.offerTitleBottom {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #f16d7f;
}

/* start featured */

.featured {
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 96px;
}

@media (min-width: 768px) {
    .featured {
        padding-left: 16px;
        padding-right: 16px;
    }
}

@media (min-width: 768px) {
    .featured {
        padding-left: 0;
        padding-right: 0;
    }
}

.featured h2 {
    margin-top: 0;
    margin-bottom: 3px;
    text-align: center;
    color: #222222;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
}

.featuredTitle {
    text-align: center;
    color: #9f9f9f;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 64px;
}

.featuredItems {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 16px;
}

@media (min-width: 768px) {
    .featuredItems {
        grid-template-columns: 1fr 1fr;
        row-gap: 18px;
        column-gap: 16px;
    }
}

@media (min-width: 1600px) {
    .featuredItems {
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }
}

.featuredItem {
    background: #f8f8f8;
}

.featuredItem img {
    width: 100%;
    display: block;
}

.featuredImgWrap {
    position: relative;
}

.featuredItem:hover .featuredImgDark {
    display: flex;
}

.featuredImgDark {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(58, 56, 56, 0.86);
    display: none;
    justify-content: center;
    align-items: center;
}

.featuredImgWrap button {
    background: none;
    border: 1px solid white;
    color: white;
    display: flex;
    align-items: center;
    padding: 10px 13px;
    font-size: 14px;
}

.featuredImgWrap button img {
    width: 26px;
    height: 24px;
    margin-right: 11px;
}

.featuredData {
    padding: 23px 16px 20px;
}

.featuredName {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
}

.featuredText {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    margin-top: 12px;
    margin-bottom: 18px;
}

.featuredPrice {
    font-size: 16px;
    line-height: 19px;
    color: #f16d7f;
}

.featuredBrowseBtn {
    border: 1px solid #ff6a6a;
    margin-top: 41px;
    padding: 15px 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: none;
    font-size: 16px;
    line-height: 19px;
    color: #f26376;
}

@media (min-width: 768px) {
    .featuredBrowseBtn {
        margin-top: 33px;
    }
}

@media (min-width: 768px) {
    .featuredBrowseBtn {
        margin-top: 33px;
    }
}

@media (min-width: 1600px) {
    .featuredBrowseBtn {
        margin-top: 48px;
    }
}

.featuredBrowseBtn:hover {
    color: white;
    background: #f16d7f;
}
/* end featured */

/* start services */

.services {
    background: #222224;
    padding-top: 48px;
    padding-bottom: 81px;
    padding-left: 14px;
    padding-right: 13px;
}

@media (min-width: 768px) {
    .services {
        padding-top: 48px;
        padding-bottom: 64px;
        padding-left: 204px;
        padding-right: 204px;
    }
}

@media (min-width: 768px) {
    .services {
        padding-top: 104px;
        padding-bottom: 104px;
    }
}

.services .container {
    display: grid;
    gap: 47px;
}

@media (min-width: 1200px) {
    .services .container {
        grid-template-columns: repeat(3, 1fr);
    }
}

.servicesProposal {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.servicesName,
.servicesText {
    color: #fbfbfb;
}

.servicesName {
    font-size: 19.96px;
    line-height: 24px;
    margin-top: 27px;
    margin-bottom: 15px;
}

.servicesText {
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
}

/* end services */

/* start subscribe */
.subscribe {
    background: url(images/vestibulum.jpg) no-repeat;
    background-size: cover;
    padding-top: 64px;
    padding-bottom: 109px;
    padding-left: 16px;
    padding-right: 16px;
}
@media (min-width: 768px) {
    .subscribe {
        padding-bottom: 140px;
    }
}

@media (min-width: 1200px) {
    .subscribe {
        padding-top: 97px;
        padding-bottom: 126px;
        padding-left: 204px;
        padding-right: 204px;
    }
}

@media (min-width: 1200px) {
    .subscribe .container {
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }
}

.subscribeLeft {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subscribeLeftText {
    text-align: center;
    font-size: 18px;
    line-height: 22px;
    color: #222224;
    margin-top: 29px;
    max-width: 330px;
}

.subscribeRight {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 59px;
}

@media (min-width: 768px) {
    .subscribeRight {
        margin-top: 65px;
    }
}

@media (min-width: 1200px) {
    .subscribeRight {
        margin-top: initial;
        align-self: center;
    }
}

.subscribeRightTitle,
.subscribeRightText {
    text-align: center;
    color: #222224;
}

.subscribeRightTitle {
    font-weight: 700;
    font-size: 24px;
}

.subscribeRightText {
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 22px;
}

@media (min-width: 768px) {
    .subscribeRightText {
        font-size: 18px;
    }
}

.subscribeForm {
    height: 47px;
}

.subscribeForm input {
    width: 190px;
    height: inherit;
    background: #e1e1e1;
    border: none;
    padding: 6px 20px;
    box-sizing: border-box;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    float: left;
    font-size: 14px;
}

.subscribeForm input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #222224;
    font-family: inherit;
    opacity: 67%;
}
.subscribeForm input::-moz-placeholder {
    /* Firefox 19+ */
    color: #222224;
    font-family: inherit;
    opacity: 67%;
}
.subscribeForm input:-ms-input-placeholder {
    /* IE 10+ */
    color: #222224;
    font-family: inherit;
    opacity: 67%;
}
.subscribeForm input:-moz-placeholder {
    /* Firefox 18- */
    color: #222224;
    font-family: inherit;
    opacity: 67%;
}

.subscribeForm button {
    height: inherit;
    border: none;
    font-size: 14px;
    text-align: center;
    color: #ffffff;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    background: #f16d7f;
    padding: 0 17px;
}
/*  subscribe */

/* start footer */

.footer {
    background: #222224;
    padding: 43px 62px 9px;
}

@media (min-width: 768px) {
    .footer {
        padding: 24px 32px;
    }
}

@media (min-width: 1200px) {
    .footer {
        padding-left: 204px;
        padding-right: 204px;
    }
}

.footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 768px) {
    .footer .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

.footerLeft {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #fbfbfb;
    padding-bottom: 40px;
}

@media (min-width: 768px) {
    .footerLeft {
        padding-bottom: initial;
    }
}

.footerRight {
    max-width: 286px;
}

.footer a {
    color: #000;
    background: white;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.footer a:not(:last-child) {
    margin-right: 7px;
}

.footer a:hover {
    background: #f16d7f;
    color: white;
}

.footerRight {
    display: flex;
}

/* end footer */

/* START CATALOG */
.newArrivals {
    background: #f8f3f4;
    min-height: 148px;
}

.newArrivals .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: inherit;
}

@media (min-width: 768px) {
    .newArrivals .container {
        flex-direction: row;
        justify-content: space-between;
    }
}

@media (min-width: 768px) and (max-width: 1599px) {
    .newArrivals .container {
        padding: 0 16px;
    }
}

.newArrivals h1 {
    margin: 24px 0 32px;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #f16d7f;
}

.newArrivals nav a,
.newArrivals nav span {
    font-weight: 300;
    font-size: 14px;
    color: #636363;
    line-height: 17px;
}

.newArrivals nav a {
    text-decoration: none;
}

.newArrivals nav span {
    margin: 0 2px;
}

.newArrivals nav a:last-of-type {
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #f16d7f;
}

/*start filter */

.filters {
    margin-top: 24px;
    margin-bottom: 32px;
}

@media (min-width: 1600px) {
    .filters {
        margin-top: 51px;
        margin-bottom: 65px;
    }
}

.filters .container {
    display: flex;
    justify-content: space-between;
    padding-left: 8px;
    padding-right: 8px;
}
@media (min-width: 768px) {
    .filters .container {
        padding-left: 16px;
        padding-right: 16px;
    }
}

@media (min-width: 1600px) {
    .filters .container {
        display: flex;
        justify-content: flex-start;
        padding-left: 0;
        padding-right: 0;
    }
}

.filterLeft .filterLabel {
    display: none;
    position: relative;
    z-index: 2;
    cursor: pointer;
}

.filterLabelPink {
    color: #ef5b70 !important;
    left: 16px;
    top: 13px;
}

.filterIconPink {
    left: 16px;
    top: 13px;
}

@media (min-width: 768px) {
    .filterLeft .filterLabel {
        display: inline;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
    }
}

.filterLeft .filterIcon {
    width: 37px;
    height: 25px;
    position: relative;
    z-index: 2;
    cursor: pointer;
}

@media (min-width: 768px) {
    .filterLeft .filterIcon {
        width: 15px;
        height: 10px;
        margin-left: 11px;
    }
}

.filterRight {
    display: flex;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #6f6e6e;
}

@media (min-width: 1600px) {
    .filterRight {
        font-size: 14px;
        line-height: 17px;
        margin-left: 320px;
    }
}

.filterRight > div:not(:last-child) {
    margin-right: 15px;
}

@media (min-width: 375px) {
    .filterRight > div:not(:last-child) {
        margin-right: 24px;
    }
}

.filterRight img {
    margin-left: 9px;
    position: relative;
    bottom: 3px;
}

.filterLeft {
    position: relative;
}

/*.filterLeft:hover .filterLabel,
.filterLeft:hover .filterIcon {
    left: 16px;
    top: 13px;
}

.filterLeft:hover .filterLabel {
    color: #EF5B70;
}*/

.hidden {
    display: none;
}

.filterPopup {
    /*display: none;*/
    position: absolute;
    left: 0;
    top: 0;
    width: 360px;
    background: hsl(0deg, 0%, 100%);
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    padding: 46px 16px 16px 17px;
    z-index: 1;
    overflow-y: auto;
}

/*.filterLeft:hover .filtersPopup {
   display: block;
}*/
.filterCategory:not(:last-child) {
    margin-bottom: 24px;
}

.filterCategoryHeader {
    font-size: 14px;
    line-height: 37px;
    color: #ef5b70;
    padding-left: 11px;
    min-height: 37px;
    margin-bottom: 24px;
    border-bottom: 1px solid #ebebeb;
    position: relative;
    cursor: pointer;
}

.filterCategoryHeader:before {
    content: "";
    width: 5px;
    min-height: inherit;
    background: #ef5b70;
    position: absolute;
    left: 0;
    top: 1px;
}

.filterCategory a {
    display: block;
    text-decoration: none;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #6f6e6e;
    padding-left: 34px;
    padding-right: 16px;
}

.filterCategory a:not(:last-child) {
    margin-bottom: 11px;
}

.filterSizeWrap {
    cursor: pointer;
}

.filterRightSize {
    position: relative;
}

.filterSizes {
    position: absolute;
    left: 0;
    top: 25px;
    width: 79px;
    height: 103px;
    background: #ffffff;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    padding: 7px 9px;
    box-sizing: border-box;
    font-size: 14px;
    color: #6f6e6e;
}

.filterSizes > div:not(:last-child) {
    margin-bottom: 4px;
}

/* end filter */

/* start "catalogMan */

.catalogMan {
    padding-left: 8px;
    padding-right: 8px;
}

@media (min-width: 768px) {
    .catalogMan {
        padding-left: 16px;
        padding-right: 16px;
    }
}

@media (min-width: 1600px) {
    .catalogMan {
        padding-left: 0;
        padding-right: 0;
    }
}

.catalogManItems {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 16px;
}

@media (min-width: 768px) {
    .catalogManItems {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 16px;
    }
}

@media (min-width: 1600px) {
    .catalogManItems {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }
}

.catalogManItem img {
    width: 100%;
    display: block;
}

.catalogManWrap {
    padding: 25px 18px 20px;
    background: #f8f8f8;
}

.catalogManTitle {
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
}

.catalogManText {
    margin-top: 13px;
    margin-bottom: 18px;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5d5d5d;
}

.catalogManPrice {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #f16d7f;
}

/* end "catalogMan */

.pagination {
    height: 43px;
    width: 283px;
    margin: 0 auto;
    border: 1px solid #ebebeb;
    margin-top: 40px;
    margin-bottom: 64px;
    padding: 13px 16px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    border-radius: 3px;
}

@media (min-width: 1600px) {
    .pagination {
        margin-top: 48px;
        margin-bottom: 96px;
    }
}

.pagination a {
    text-decoration: none;
    font-weight: 300;
    font-size: 16px;
    color: #c4c4c4;
}

.pagination a:hover {
    color: #ef5b70;
}

.paginationNumber {
    padding-bottom: 3px;
}
/* END CATALOG */
