@import "_variables";
body {
    margin: 0;
    font-family: lato, sans-serif;
}

.header {
    background: #222222;
    height: 74px;
    padding: 18px 16px;
    box-sizing: border-box; /*чтобы пайденги были вжаты внутрь */

    @media (min-width: 768px) {
        padding-left: 32px;
        padding-right: 32px;
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .userIcon,
    .cartIconWrap {
        display: none;

        @media (min-width: 768px) {
            display: inline;
        }
    }

    .userIcon {
        margin-left: 25px;
        margin-right: 42px;
    }

    .searchIcon {
        margin-left: 41px;
    }
    .cartIconWrap {
        position: relative;

        span {
            display: inline-block;
            width: 19px;
            height: 19px;
            color: wheat;
            background: $commonColor;
            border-radius: 50%;
            position: absolute;
            text-align: center;
            right: -8px;
            top: -19px;
            font-size: 12px;
            line-height: 19px;
        }
    }
}

@media (min-width: 1600px) {
    .container {
        margin: 0 auto;
        width: 1140px;
    }
}

.newArrivals {
    background: #f8f3f4;
    min-height: 148px;

    h1 {
        margin: 24px 0 32px;
        font-weight: normal;
        font-size: 24px;
        line-height: 29px;
        color: $commonColor;

        @media (min-width: 768px) {
            margin: 0;
        }
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: inherit;

        @media (min-width: 768px) {
            flex-direction: row;
            justify-content: space-between;
        }

        @media (min-width: 768px) and (max-width: 1599px) {
            padding: 0 16px;
        }
    }

    nav {
        a,
        span {
            font-weight: 300;
            font-size: 14px;
            color: #636363;
            line-height: 17px;

            a {
                text-decoration: none;

                &:last-of-type {
                    font-weight: bold;
                    font-size: 14px;
                    line-height: 17px;
                    color: $commonColor;
                }
            }

            span {
                margin: 0 2px;
            }
        }
    }
}

.slider {
    min-height: 624px;
    border: 1px solid #eaeaea;
    background: #f7f7f7;
    position: relative;

    @media (min-width: 1600px) {
        min-height: 777px;
    }

    .sliderImage {
        max-width: 100%;
        object-fit: cover;
        margin-top: 85px;
        /*margin-bottom: 85px;*/
        margin-left: auto;
        margin-right: auto;
        display: block;

        @media (min-width: 768px) {
            margin-top: 30px;
        }

        @media (min-width: 1600px) {
            margin-top: 11px;
        }
    }

    .sliderLeftArrow,
    .sliderRightArrow {
        width: 47px;
        height: 47px;
        background-color: rgba(42, 42, 42, 0.15);
        background-repeat: no-repeat;
        background-position: center center;
        position: absolute;
        top: calc(50% - 47px / 2);
        cursor: pointer;
    }

    .sliderLeftArrow {
        left: 0;
        background-image: url(#{$imagesPath}/leftArrow.svg);

        &:hover {
            background-image: url(#{$imagesPath}/leftRedArrow.svg);
        }
    }

    .sliderRightArrow {
        right: 0;
        background-image: url(#{$imagesPath}/rightArrow.svg);

        &:hover {
            background-image: url(#{$imagesPath}/rightRedArrow.svg);
        }
    }
}

/* start collection */

.collection {
    padding: 64px 24px;
    border: 1px solid #eaeaea;
    margin-bottom: 64px;
    background: white;

    @media (min-width: 768px) {
        margin-bottom: 129px;
    }

    @media (min-width: 1600px) {
        margin-top: -64px;
        position: relative;
        padding-left: 0;
        padding-right: 0;
    }

    .collectionTitle {
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: $commonColor;
        margin-top: 0;
        margin-bottom: 12px;
        text-align: center;
    }

    .collectionDividerPink {
        background: $commonColor;
        width: 63px;
        height: 3px;
        margin: 0 auto 12px;
    }

    .collectionDesc {
        font-weight: 300;
        font-size: 18px;
        line-height: 22px;
        color: #4d4d4d;
        text-align: center;
        margin-bottom: 32px;
    }

    .collectionText {
        font-weight: 300;
        font-size: 14px;
        line-height: 143.1%;
        text-align: center;
        color: #5e5e5e;
        margin-bottom: 32px;
        max-width: 326px;
        margin-left: auto;
        margin-right: auto;

        @media (min-width: 768px) {
            max-width: 555px;
        }
    }

    .collectionPrice {
        font-weight: 300;
        font-size: 24px;
        line-height: 130%;
        color: $commonColor;
        text-align: center;
        margin-bottom: 32px;
    }

    .collectionDividerGrey {
        width: 175px;
        border: 1px solid rgba(234, 234, 234, 1);
        margin: 0 auto 49px;

        @media (min-width: 768px) {
            width: 642px;
        }
    }

    .collectionSize {
        font-weight: normal;
        font-size: 10px;
        line-height: 12px;
        color: #6f6e6e;
        display: flex;
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 64px;
        max-width: 304px;

        img {
            margin-left: 4px;

            @media (min-width: 375px) {
                margin-left: 10px;
            }
        }
    }

    button {
        background: none;
        border: 1px solid $commonColor;
        font-size: 16px;
        line-height: 19px;
        color: $commonColor;
        display: flex;
        align-items: center;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-right: 57px;
        margin: 0 auto;

        img {
            margin-right: 23px;
            margin-left: 24px;
        }
    }
}

/* end collection */

.catalogMan {
    padding-left: 8px;
    padding-right: 8px;

    @media (min-width: 768px) {
        padding-left: 16px;
        padding-right: 16px;

        @media (min-width: 1600px) {
            padding-left: 0;
            padding-right: 0;
        }
    }

    .catalogManItems {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 16px;

        @media (min-width: 768px) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 16px;
        }

        @media (min-width: 1600px) {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 30px;
        }

        .catalogManItem {
            &:last-child {
                display: none;

                @media (min-width: 1600px) {
                    display: block;
                }
            }

            img {
                width: 100%;
                display: block;
            }

            .catalogManWrap {
                padding: 25px 18px 20px;
                background: #f8f8f8;

                .catalogManTitle {
                    font-weight: normal;
                    font-size: 13px;
                    line-height: 16px;
                    color: #000000;
                }

                .catalogManText {
                    margin-top: 13px;
                    margin-bottom: 18px;
                    font-weight: 300;
                    font-size: 14px;
                    line-height: 17px;
                    color: #5d5d5d;
                }

                .catalogManPrice {
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 19px;
                    color: $commonColor;
                }
            }
        }
    }
}
/* start subscribe */

.subscribeTop {
    margin-top: 64px;

    @media (min-width: 768px) {
        margin-top: 129px;
    }
}

.cartSubscribe {
    margin-top: 96px;

    @media (min-width: 768px) {
        margin-top: 128px;
    }

    @media (min-width: 1600px) {
        margin-top: 119px;
    }
}

.subscribe {
    background: url(#{$imagesPath}/vestibulum.jpg) no-repeat;
    background-size: cover;
    padding-top: 64px;
    padding-bottom: 109px;
    padding-left: 16px;
    padding-right: 16px;

    @media (min-width: 768px) {
        padding-bottom: 140px;
    }

    @media (min-width: 1200px) {
        padding-top: 97px;
        padding-bottom: 126px;
        padding-left: 204px;
        padding-right: 204px;
    }

    .container {
        @media (min-width: 1200px) {
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
        }
    }

    .subscribeLeft {
        display: flex;
        flex-direction: column;
        align-items: center;

        .subscribeLeftText {
            text-align: center;
            font-size: 18px;
            line-height: 22px;
            color: #222224;
            margin-top: 29px;
            max-width: 330px;
        }
    }

    .subscribeRight {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 59px;

        @media (min-width: 768px) {
            margin-top: 65px;
        }

        @media (min-width: 1200px) {
            margin-top: initial;
            align-self: center;
        }

        .subscribeRightTitle {
            font-weight: 700;
            font-size: 24px;
        }

        .subscribeRightTitle,
        .subscribeRightText {
            text-align: center;
            color: #222224;
        }

        .subscribeRightText {
            font-weight: 400;
            font-size: 14px;
            margin-bottom: 22px;

            @media (min-width: 768px) {
                font-size: 18px;
            }
        }

        .subscribeForm {
            height: 47px;

            input {
                width: 190px;
                height: inherit;
                background: #e1e1e1;
                border: none;
                padding: 6px 20px;
                box-sizing: border-box;
                border-top-left-radius: 25px;
                border-bottom-left-radius: 25px;
                float: left;
                font-size: 14px;

                &::-webkit-input-placeholder {
                    /* Chrome/Opera/Safari */
                    color: #222224;
                    font-family: inherit;
                    opacity: 67%;
                }
                &::-moz-placeholder {
                    /* Firefox 19+ */
                    color: #222224;
                    font-family: inherit;
                    opacity: 67%;
                }
                &:-ms-input-placeholder {
                    /* IE 10+ */
                    color: #222224;
                    font-family: inherit;
                    opacity: 67%;
                }
                &:-moz-placeholder {
                    /* Firefox 18- */
                    color: #222224;
                    font-family: inherit;
                    opacity: 67%;
                }
            }

            button {
                height: inherit;
                border: none;
                font-size: 14px;
                text-align: center;
                color: #ffffff;
                border-top-right-radius: 25px;
                border-bottom-right-radius: 25px;
                background: $commonColor;
                padding: 0 17px;
            }
        }
    }
}

/*  subscribe */
/* start footer */

.footer {
    background: #222224;
    padding: 43px 30px 9px;

    @media (min-width: 768px) {
        padding: 24px 32px;
    }

    @media (min-width: 1200px) {
        padding-left: 204px;
        padding-right: 204px;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;

        @media (min-width: 768px) {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
    }

    .footerLeft {
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: #fbfbfb;
        /* padding-bottom: 40px;*/
        padding-top: 40px;

        @media (min-width: 768px) {
            /* padding-bottom: initial;*/
            padding-top: 0;
            order: -1;
        }
    }

    .footerRight {
        display: flex;
        max-width: 286px;
        order: -1;
    }

    a {
        color: #000;
        background: white;
        width: 32px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;

        &:not(:last-child) {
            margin-right: 7px;
        }

        &:hover {
            background: $commonColor;
            color: white;
        }
    }
}

/* end footer */

/* start cart */

.shopping {
    background: #f8f3f4;
    min-height: 148px;

    h1 {
        margin: 0;
        font-weight: normal;
        font-size: 24px;
        line-height: 29px;
        color: $commonColor;
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: inherit;

        @media (min-width: 768px) {
            justify-content: flex-start;
        }

        @media (min-width: 768px) and (max-width: 1599px) {
            padding: 0 16px;
        }
    }
}

.cart {
    margin-top: 39px;

    @media (min-width: 375px) {
        padding: 0 9px;
    }

    @media (min-width: 768px) {
        padding: 0 17px;
    }

    @media (min-width: 1600px) {
        display: flex;
        justify-content: space-between;
    }

    .cartLeft {
        margin-bottom: 30px;
    }

    .cartLeftButton {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;

        @media (min-width: 768px) {
            margin-top: 63px;
        }

        @media (min-width: 768px) and (max-width: 1599px) {
            justify-content: center;
        }

        button {
            width: 175px;
            height: 33px;
            background: white;
            border: 1px solid #a4a4a4;
            font-size: 12px;
            line-height: 14px;
            text-align: center;
            color: #575757;
            font-family: inherit;
            text-transform: uppercase;

            @media (min-width: 768px) and (max-width: 1599px) {
                margin-left: 48px;
            }

            @media (min-width: 768px) {
                width: 225px;
                height: 50px;
                font-weight: 300;
                font-size: 14px;
                line-height: 17px;
            }
        }
    }

    .cartWrap {
        background: white;
        filter: drop-shadow(8px 8px 21px rgba(0, 0, 0, 0.13));
        position: relative;

        @media (min-width: 1600px) {
            width: 652px;
        }

        &:before {
            width: 10px;
            height: 11px;
            content: "";
            display: block;
            position: absolute;
            right: 12px;
            top: 17px;
            background: url(#{$imagesPath}/cartIcon.svg) no-repeat;
            background-size: 100%;

            @media (min-width: 768px) {
                width: 18px;
                height: 18px;
                background-size: contain;
            }
        }

        &:not(:first-child) {
            margin-top: 32px;

            @media (min-width: 1600px) {
                margin-top: 40px;
            }
        }

        .cartWrapInside {
            display: flex;

            .cartProduct {
                margin: 13px 17px;
            }

            .cartImg {
                width: 144px;
                height: 188px;

                @media (min-width: 768px) {
                    width: 262px;
                    height: 306px;
                }
            }

            .cartProductName {
                font-size: 16px;
                line-height: 19px;
                color: #222222;
                margin-bottom: 25px;

                @media (min-width: 374px) {
                    padding-right: 20px;
                }

                @media (min-width: 768px) {
                    font-size: 24px;
                    line-height: 29px;
                }
            }

            .cartProductPrice span {
                color: $commonColor;
                margin-left: 3px;
            }

            .cartProductPrice,
            .cartProductColor,
            .cartProductSize,
            .cartProductQuantity {
                font-size: 14px;
                line-height: 17px;
                color: #575757;

                @media (min-width: 768px) {
                    font-size: 22px;
                    line-height: 26px;
                }
            }

            .cartProductColor,
            .cartProductSize,
            .cartProductQuantity {
                margin-top: 4px;

                @media (min-width: 768px) {
                    margin-top: 6px;
                }
            }

            .cartProductQuantity input {
                width: 24px;
                height: 15px;
                border: 1px solid #eaeaea;
                margin-left: 25px;
                text-align: center;
                font-size: 10px;
                line-height: 12px;
                color: #656565;

                @media (min-width: 768px) {
                    font-size: 18px;
                    line-height: 22px;
                    width: 44px;
                    height: 25px;
                }
            }
        }
    }

    .cartRight {
        @media (min-width: 1600px) {
            width: 360px;
        }

        @media (min-width: 768px) and (max-width: 1599px) {
            display: flex;
            justify-content: space-between;
        }

        @media (max-width: 374px) {
            padding: 0 9px;
        }

        .cartRightHeader {
            font-weight: 300;
            font-size: 16px;
            line-height: 19px;
            color: #222222;
        }

        .cartRightForm {
            @media (max-width: 1599px) {
                margin-top: 20px;
            }

            @media (min-width: 768px) and (max-width: 1599px) {
                flex-grow: 1;
                margin-right: 15px;
            }

            input {
                display: block;
                height: 45px;
                padding: 13px 17px;
                font-family: inherit;
                font-weight: 300;
                font-size: 13px;
                line-height: 16px;
                color: #222222;
                box-sizing: border-box;
                border: 1px solid #a4a4a4;
                width: 100%;

                &:not(:first-child) {
                    margin-top: 20px;
                }
            }

            button {
                margin-top: 23px;
                font-family: inherit;
                border: 1px solid #a4a4a4;
                font-weight: 300;
                font-size: 11px;
                line-height: 13px;
                color: #575757;
                width: 101px;
                height: 35px;
                background: #ffffff;
            }
        }

        .cartOrder {
            height: 214px;
            background: #f5f3f3;
            padding: 39px 43px 42px;
            box-sizing: border-box;

            @media (max-width: 767px) {
                margin-top: 48px;
            }

            @media (min-width: 768px) {
                margin-top: 57px;
            }

            .cartSubTotal,
            .cartGrandTotal {
                text-align: right;
            }

            .cartSubTotal {
                font-weight: 400;
                font-size: 11px;
                line-height: 13px;
                color: #4a4a4a;

                span {
                    margin-left: 20px;
                }
            }

            .cartGrandTotal {
                font-weight: 300;
                font-size: 16px;
                line-height: 19px;
                color: #222222;
                margin-top: 12px;
                margin-bottom: 21px;

                span {
                    margin-left: 20px;
                    font-weight: bold;
                    color: $commonColor;
                }
            }

            hr {
                margin-bottom: 17px;
                margin-top: 0;
                background: #e2e2e2;
                height: 1px;
                border: none;
            }

            button {
                background: $commonColor;
                width: 100%;
                border: none;
                height: 50px;
                font-family: inherit;
                font-weight: 300;
                font-size: 16px;
                line-height: 19px;
                color: #ffffff;

                @media (min-width: 375px) {
                    width: 273px;
                }
            }
        }
    }
}
/* end cart */
