@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,300;1,700;1,900&display=swap");
body {
  margin: 0;
  font-family: lato, sans-serif;
}

.header {
  background: #222222;
  height: 74px;
  padding: 18px 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /*чтобы пайденги были вжаты внутрь */
}

@media (min-width: 768px) {
  .header {
    padding-left: 32px;
    padding-right: 32px;
  }
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .userIcon,
.header .cartIconWrap {
  display: none;
}

@media (min-width: 768px) {
  .header .userIcon,
  .header .cartIconWrap {
    display: inline;
  }
}

.header .userIcon {
  margin-left: 25px;
  margin-right: 42px;
}

.header .searchIcon {
  margin-left: 41px;
}

.header .cartIconWrap {
  position: relative;
}

.header .cartIconWrap span {
  display: inline-block;
  width: 19px;
  height: 19px;
  color: wheat;
  background: #F16D7F;
  border-radius: 50%;
  position: absolute;
  text-align: center;
  right: -8px;
  top: -19px;
  font-size: 12px;
  line-height: 19px;
}

@media (min-width: 1600px) {
  .container {
    margin: 0 auto;
    width: 1140px;
  }
}

.newArrivals {
  background: #f8f3f4;
  min-height: 148px;
}

.newArrivals h1 {
  margin: 24px 0 32px;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

@media (min-width: 768px) {
  .newArrivals h1 {
    margin: 0;
  }
}

.newArrivals .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: inherit;
}

@media (min-width: 768px) {
  .newArrivals .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 768px) and (max-width: 1599px) {
  .newArrivals .container {
    padding: 0 16px;
  }
}

.newArrivals nav a,
.newArrivals nav span {
  font-weight: 300;
  font-size: 14px;
  color: #636363;
  line-height: 17px;
}

.newArrivals nav a a,
.newArrivals nav span a {
  text-decoration: none;
}

.newArrivals nav a a:last-of-type,
.newArrivals nav span a:last-of-type {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
}

.newArrivals nav a span,
.newArrivals nav span span {
  margin: 0 2px;
}

.slider {
  min-height: 624px;
  border: 1px solid #eaeaea;
  background: #f7f7f7;
  position: relative;
}

@media (min-width: 1600px) {
  .slider {
    min-height: 777px;
  }
}

.slider .sliderImage {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: 85px;
  /*margin-bottom: 85px;*/
  margin-left: auto;
  margin-right: auto;
  display: block;
}

@media (min-width: 768px) {
  .slider .sliderImage {
    margin-top: 30px;
  }
}

@media (min-width: 1600px) {
  .slider .sliderImage {
    margin-top: 11px;
  }
}

.slider .sliderLeftArrow,
.slider .sliderRightArrow {
  width: 47px;
  height: 47px;
  background-color: rgba(42, 42, 42, 0.15);
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  top: calc(50% - 47px / 2);
  cursor: pointer;
}

.slider .sliderLeftArrow {
  left: 0;
  background-image: url(../images/leftArrow.svg);
}

.slider .sliderLeftArrow:hover {
  background-image: url(../images/leftRedArrow.svg);
}

.slider .sliderRightArrow {
  right: 0;
  background-image: url(../images/rightArrow.svg);
}

.slider .sliderRightArrow:hover {
  background-image: url(../images/rightRedArrow.svg);
}

/* start collection */
.collection {
  padding: 64px 24px;
  border: 1px solid #eaeaea;
  margin-bottom: 64px;
  background: white;
}

@media (min-width: 768px) {
  .collection {
    margin-bottom: 129px;
  }
}

@media (min-width: 1600px) {
  .collection {
    margin-top: -64px;
    position: relative;
    padding-left: 0;
    padding-right: 0;
  }
}

.collection .collectionTitle {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  margin-top: 0;
  margin-bottom: 12px;
  text-align: center;
}

.collection .collectionDividerPink {
  background: #F16D7F;
  width: 63px;
  height: 3px;
  margin: 0 auto 12px;
}

.collection .collectionDesc {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4d4d4d;
  text-align: center;
  margin-bottom: 32px;
}

.collection .collectionText {
  font-weight: 300;
  font-size: 14px;
  line-height: 143.1%;
  text-align: center;
  color: #5e5e5e;
  margin-bottom: 32px;
  max-width: 326px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .collection .collectionText {
    max-width: 555px;
  }
}

.collection .collectionPrice {
  font-weight: 300;
  font-size: 24px;
  line-height: 130%;
  color: #F16D7F;
  text-align: center;
  margin-bottom: 32px;
}

.collection .collectionDividerGrey {
  width: 175px;
  border: 1px solid #eaeaea;
  margin: 0 auto 49px;
}

@media (min-width: 768px) {
  .collection .collectionDividerGrey {
    width: 642px;
  }
}

.collection .collectionSize {
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: #6f6e6e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 64px;
  max-width: 304px;
}

.collection .collectionSize img {
  margin-left: 4px;
}

@media (min-width: 375px) {
  .collection .collectionSize img {
    margin-left: 10px;
  }
}

.collection button {
  background: none;
  border: 1px solid #F16D7F;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 57px;
  margin: 0 auto;
}

.collection button img {
  margin-right: 23px;
  margin-left: 24px;
}

/* end collection */
.catalogMan {
  padding-left: 8px;
  padding-right: 8px;
}

@media (min-width: 768px) {
  .catalogMan {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media (min-width: 768px) and (min-width: 1600px) {
  .catalogMan {
    padding-left: 0;
    padding-right: 0;
  }
}

.catalogMan .catalogManItems {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  row-gap: 16px;
}

@media (min-width: 768px) {
  .catalogMan .catalogManItems {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 16px;
  }
}

@media (min-width: 1600px) {
  .catalogMan .catalogManItems {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
}

.catalogMan .catalogManItems .catalogManItem:last-child {
  display: none;
}

@media (min-width: 1600px) {
  .catalogMan .catalogManItems .catalogManItem:last-child {
    display: block;
  }
}

.catalogMan .catalogManItems .catalogManItem img {
  width: 100%;
  display: block;
}

.catalogMan .catalogManItems .catalogManItem .catalogManWrap {
  padding: 25px 18px 20px;
  background: #f8f8f8;
}

.catalogMan .catalogManItems .catalogManItem .catalogManWrap .catalogManTitle {
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}

.catalogMan .catalogManItems .catalogManItem .catalogManWrap .catalogManText {
  margin-top: 13px;
  margin-bottom: 18px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5d5d5d;
}

.catalogMan .catalogManItems .catalogManItem .catalogManWrap .catalogManPrice {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}

/* start subscribe */
.subscribeTop {
  margin-top: 64px;
}

@media (min-width: 768px) {
  .subscribeTop {
    margin-top: 129px;
  }
}

.cartSubscribe {
  margin-top: 96px;
}

@media (min-width: 768px) {
  .cartSubscribe {
    margin-top: 128px;
  }
}

@media (min-width: 1600px) {
  .cartSubscribe {
    margin-top: 119px;
  }
}

.subscribe {
  background: url(../images/vestibulum.jpg) no-repeat;
  background-size: cover;
  padding-top: 64px;
  padding-bottom: 109px;
  padding-left: 16px;
  padding-right: 16px;
}

@media (min-width: 768px) {
  .subscribe {
    padding-bottom: 140px;
  }
}

@media (min-width: 1200px) {
  .subscribe {
    padding-top: 97px;
    padding-bottom: 126px;
    padding-left: 204px;
    padding-right: 204px;
  }
}

@media (min-width: 1200px) {
  .subscribe .container {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.subscribe .subscribeLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe .subscribeLeft .subscribeLeftText {
  text-align: center;
  font-size: 18px;
  line-height: 22px;
  color: #222224;
  margin-top: 29px;
  max-width: 330px;
}

.subscribe .subscribeRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 59px;
}

@media (min-width: 768px) {
  .subscribe .subscribeRight {
    margin-top: 65px;
  }
}

@media (min-width: 1200px) {
  .subscribe .subscribeRight {
    margin-top: initial;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.subscribe .subscribeRight .subscribeRightTitle {
  font-weight: 700;
  font-size: 24px;
}

.subscribe .subscribeRight .subscribeRightTitle,
.subscribe .subscribeRight .subscribeRightText {
  text-align: center;
  color: #222224;
}

.subscribe .subscribeRight .subscribeRightText {
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 22px;
}

@media (min-width: 768px) {
  .subscribe .subscribeRight .subscribeRightText {
    font-size: 18px;
  }
}

.subscribe .subscribeRight .subscribeForm {
  height: 47px;
}

.subscribe .subscribeRight .subscribeForm input {
  width: 190px;
  height: inherit;
  background: #e1e1e1;
  border: none;
  padding: 6px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  float: left;
  font-size: 14px;
}

.subscribe .subscribeRight .subscribeForm input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #222224;
  font-family: inherit;
  opacity: 67%;
}

.subscribe .subscribeRight .subscribeForm input::-moz-placeholder {
  /* Firefox 19+ */
  color: #222224;
  font-family: inherit;
  opacity: 67%;
}

.subscribe .subscribeRight .subscribeForm input:-ms-input-placeholder {
  /* IE 10+ */
  color: #222224;
  font-family: inherit;
  opacity: 67%;
}

.subscribe .subscribeRight .subscribeForm input:-moz-placeholder {
  /* Firefox 18- */
  color: #222224;
  font-family: inherit;
  opacity: 67%;
}

.subscribe .subscribeRight .subscribeForm button {
  height: inherit;
  border: none;
  font-size: 14px;
  text-align: center;
  color: #ffffff;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  background: #F16D7F;
  padding: 0 17px;
}

/*  subscribe */
/* start footer */
.footer {
  background: #222224;
  padding: 43px 30px 9px;
}

@media (min-width: 768px) {
  .footer {
    padding: 24px 32px;
  }
}

@media (min-width: 1200px) {
  .footer {
    padding-left: 204px;
    padding-right: 204px;
  }
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer .footerLeft {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #fbfbfb;
  /* padding-bottom: 40px;*/
  padding-top: 40px;
}

@media (min-width: 768px) {
  .footer .footerLeft {
    /* padding-bottom: initial;*/
    padding-top: 0;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}

.footer .footerRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 286px;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.footer a {
  color: #000;
  background: white;
  width: 32px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.footer a:not(:last-child) {
  margin-right: 7px;
}

.footer a:hover {
  background: #F16D7F;
  color: white;
}

/* end footer */
/* start cart */
.shopping {
  background: #f8f3f4;
  min-height: 148px;
}

.shopping h1 {
  margin: 0;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.shopping .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: inherit;
}

@media (min-width: 768px) {
  .shopping .container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media (min-width: 768px) and (max-width: 1599px) {
  .shopping .container {
    padding: 0 16px;
  }
}

.cart {
  margin-top: 39px;
}

@media (min-width: 375px) {
  .cart {
    padding: 0 9px;
  }
}

@media (min-width: 768px) {
  .cart {
    padding: 0 17px;
  }
}

@media (min-width: 1600px) {
  .cart {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.cart .cartLeft {
  margin-bottom: 30px;
}

.cart .cartLeftButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
}

@media (min-width: 768px) {
  .cart .cartLeftButton {
    margin-top: 63px;
  }
}

@media (min-width: 768px) and (max-width: 1599px) {
  .cart .cartLeftButton {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.cart .cartLeftButton button {
  width: 175px;
  height: 33px;
  background: white;
  border: 1px solid #a4a4a4;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #575757;
  font-family: inherit;
  text-transform: uppercase;
}

@media (min-width: 768px) and (max-width: 1599px) {
  .cart .cartLeftButton button {
    margin-left: 48px;
  }
}

@media (min-width: 768px) {
  .cart .cartLeftButton button {
    width: 225px;
    height: 50px;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
  }
}

.cart .cartWrap {
  background: white;
  -webkit-filter: drop-shadow(8px 8px 21px rgba(0, 0, 0, 0.13));
          filter: drop-shadow(8px 8px 21px rgba(0, 0, 0, 0.13));
  position: relative;
}

@media (min-width: 1600px) {
  .cart .cartWrap {
    width: 652px;
  }
}

.cart .cartWrap:before {
  width: 10px;
  height: 11px;
  content: "";
  display: block;
  position: absolute;
  right: 12px;
  top: 17px;
  background: url(../images/cartIcon.svg) no-repeat;
  background-size: 100%;
}

@media (min-width: 768px) {
  .cart .cartWrap:before {
    width: 18px;
    height: 18px;
    background-size: contain;
  }
}

.cart .cartWrap:not(:first-child) {
  margin-top: 32px;
}

@media (min-width: 1600px) {
  .cart .cartWrap:not(:first-child) {
    margin-top: 40px;
  }
}

.cart .cartWrap .cartWrapInside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cart .cartWrap .cartWrapInside .cartProduct {
  margin: 13px 17px;
}

.cart .cartWrap .cartWrapInside .cartImg {
  width: 144px;
  height: 188px;
}

@media (min-width: 768px) {
  .cart .cartWrap .cartWrapInside .cartImg {
    width: 262px;
    height: 306px;
  }
}

.cart .cartWrap .cartWrapInside .cartProductName {
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  margin-bottom: 25px;
}

@media (min-width: 374px) {
  .cart .cartWrap .cartWrapInside .cartProductName {
    padding-right: 20px;
  }
}

@media (min-width: 768px) {
  .cart .cartWrap .cartWrapInside .cartProductName {
    font-size: 24px;
    line-height: 29px;
  }
}

.cart .cartWrap .cartWrapInside .cartProductPrice span {
  color: #F16D7F;
  margin-left: 3px;
}

.cart .cartWrap .cartWrapInside .cartProductPrice,
.cart .cartWrap .cartWrapInside .cartProductColor,
.cart .cartWrap .cartWrapInside .cartProductSize,
.cart .cartWrap .cartWrapInside .cartProductQuantity {
  font-size: 14px;
  line-height: 17px;
  color: #575757;
}

@media (min-width: 768px) {
  .cart .cartWrap .cartWrapInside .cartProductPrice,
  .cart .cartWrap .cartWrapInside .cartProductColor,
  .cart .cartWrap .cartWrapInside .cartProductSize,
  .cart .cartWrap .cartWrapInside .cartProductQuantity {
    font-size: 22px;
    line-height: 26px;
  }
}

.cart .cartWrap .cartWrapInside .cartProductColor,
.cart .cartWrap .cartWrapInside .cartProductSize,
.cart .cartWrap .cartWrapInside .cartProductQuantity {
  margin-top: 4px;
}

@media (min-width: 768px) {
  .cart .cartWrap .cartWrapInside .cartProductColor,
  .cart .cartWrap .cartWrapInside .cartProductSize,
  .cart .cartWrap .cartWrapInside .cartProductQuantity {
    margin-top: 6px;
  }
}

.cart .cartWrap .cartWrapInside .cartProductQuantity input {
  width: 24px;
  height: 15px;
  border: 1px solid #eaeaea;
  margin-left: 25px;
  text-align: center;
  font-size: 10px;
  line-height: 12px;
  color: #656565;
}

@media (min-width: 768px) {
  .cart .cartWrap .cartWrapInside .cartProductQuantity input {
    font-size: 18px;
    line-height: 22px;
    width: 44px;
    height: 25px;
  }
}

@media (min-width: 1600px) {
  .cart .cartRight {
    width: 360px;
  }
}

@media (min-width: 768px) and (max-width: 1599px) {
  .cart .cartRight {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 374px) {
  .cart .cartRight {
    padding: 0 9px;
  }
}

.cart .cartRight .cartRightHeader {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

@media (max-width: 1599px) {
  .cart .cartRight .cartRightForm {
    margin-top: 20px;
  }
}

@media (min-width: 768px) and (max-width: 1599px) {
  .cart .cartRight .cartRightForm {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin-right: 15px;
  }
}

.cart .cartRight .cartRightForm input {
  display: block;
  height: 45px;
  padding: 13px 17px;
  font-family: inherit;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #222222;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #a4a4a4;
  width: 100%;
}

.cart .cartRight .cartRightForm input:not(:first-child) {
  margin-top: 20px;
}

.cart .cartRight .cartRightForm button {
  margin-top: 23px;
  font-family: inherit;
  border: 1px solid #a4a4a4;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #575757;
  width: 101px;
  height: 35px;
  background: #ffffff;
}

.cart .cartRight .cartOrder {
  height: 214px;
  background: #f5f3f3;
  padding: 39px 43px 42px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 767px) {
  .cart .cartRight .cartOrder {
    margin-top: 48px;
  }
}

@media (min-width: 768px) {
  .cart .cartRight .cartOrder {
    margin-top: 57px;
  }
}

.cart .cartRight .cartOrder .cartSubTotal,
.cart .cartRight .cartOrder .cartGrandTotal {
  text-align: right;
}

.cart .cartRight .cartOrder .cartSubTotal {
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #4a4a4a;
}

.cart .cartRight .cartOrder .cartSubTotal span {
  margin-left: 20px;
}

.cart .cartRight .cartOrder .cartGrandTotal {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  margin-top: 12px;
  margin-bottom: 21px;
}

.cart .cartRight .cartOrder .cartGrandTotal span {
  margin-left: 20px;
  font-weight: bold;
  color: #F16D7F;
}

.cart .cartRight .cartOrder hr {
  margin-bottom: 17px;
  margin-top: 0;
  background: #e2e2e2;
  height: 1px;
  border: none;
}

.cart .cartRight .cartOrder button {
  background: #F16D7F;
  width: 100%;
  border: none;
  height: 50px;
  font-family: inherit;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}

@media (min-width: 375px) {
  .cart .cartRight .cartOrder button {
    width: 273px;
  }
}

/* end cart */
/*# sourceMappingURL=style.css.map */